.select-value[data-placeholder] {
  color: rgb(107 114 128); /* text-gray-500 */
}

.dark .select-value[data-placeholder] {
  color: rgb(156 163 175); /* dark:text-gray-400 */
}

.select-value {
  color: rgb(17 24 39); /* text-gray-900 */
}

.dark .select-value {
  color: rgb(243 244 246); /* dark:text-gray-100 */
}